.mainContainer {
  height: 100%;
  width: 100%;
  background-image: url('https://images.pexels.com/photos/26443189/pexels-photo-26443189/free-photo-of-close-up-of-books-on-the-shelf.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mainOverlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.formContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.formWrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;
  display: flex;
  justify-content: center;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.stackLogo {
  height: 3rem;
  margin-right: 0.25rem;
}

.titleText {
  text-align: center;
  font-weight: 100;
  color: rgb(255, 255, 255);
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
  margin: 0;
  margin-left: 0.25rem;
}

.subText {
  font-weight: 200;
  color: rgb(255, 255, 255);
  margin-bottom: 3rem;
}

.formCard {
  max-width: 35rem;
  min-width: 25rem;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .formWrapper {
    max-width: 65vw;
  }
}

@media only screen and (max-width: 767px) {
  .formWrapper {
    max-width: 75vw;
  }
}
