.mainContainer {
  height: 100%;
  width: 100%;
  background-image: url('../../assets/dark-books.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}

.formContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.formWrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;
  display: flex;
  justify-content: center;
}

.titleText {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.formCard {
  max-width: 30rem;
  min-width: 20rem;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .formWrapper {
    max-width: 65vw;
  }
}

@media only screen and (max-width: 767px) {
  .formWrapper {
    max-width: 75vw;
  }
}
